*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
body {
  background-image: linear-gradient(
    to right top,
    #004e92,
    #06407a,
    #083263,
    #07254c,
    #051937
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  color: white;
}
.logo {
  padding-left: 5px;
  width: 122px;
  position: relative;
  margin-left: 15px;
}
.logo_bln {
  width: 150px;
}
.navbar-container {
  background-color: #02214e;
}
.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
}
.navbar i {
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.navbar-brand {
  background: rgba(0, 20, 43, 0.1);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
  color: white;
  width: 200px;
  position: absolute;
  padding-left: 40px;
}

#nombre_logo {
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  top: 25px;
  left: 30px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
}
/* formulario */
.container-fluid {
  margin: 20px auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: rgba(0, 0, 0, 0.125);
}

.panel-heading {
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  align-items: center;
}
.panel-heading i {
  font-size: 40px;
}
.form {
  display: block;
  max-width: 450px;
}
@media (min-width: 500px) {
  .form {
    width: 500px;
  }
}
.panel-heading h3 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
}
.panel-body {
  padding: 20px;
  background: transparent;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.form-label {
  display: inline-block;
}
.form-control {
  padding: 0.75rem 1rem;
  margin: 10px 0;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 3px;
  border: 2px solid #ced4da;
  border-color: rgba(0, 0, 0, 0.0125);
  background-color: rgba(0, 0, 0, 0.0125);
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.125)
  );
}
.form-control:focus {
  outline: none;
  border-color: #006dce;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
.float-left {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}
.float-left small {
  color: rgba(255, 255, 255, 0.5) !important;
}
.float-left small:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1) !important;
}
/* botones */
.form-group.space-between {
  display: grid;
  grid-template-columns: 2fr 100px;
}
.panel-footer small {
  color: rgba(255, 255, 255, 0.5) !important;
}
.copy {
  line-height: 1.5;
}
.btn {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #004e92;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.125)
  );
}
.btn:hover {
  background: #0c67b6;
  border: 2px solid transparent;
  border-color: #065eac;

}
